body{
    font-family: 'DM Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    color: mediumblue;
}
hr{
    width: auto;
    height: 5px;
    color: slategrey;
    background-color:#2874A6;
}
#h1{
    color: turquoise;
    margin-left: 200px;

}
#s1{
    color: teal;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;

}
.half-width img{
    width: 70%;
}
.link-button{
    color: black;
    background-image: linear-gradient(#0F425D, #20A2E8);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}